@charset "UTF-8";
body {
    font: 10pt Arial;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
}
p {
    font-weight: bolder;
}
h1 {
    background-color:yellow ;
    text-align: center;
    color: black;
    border-radius: 100px;
    padding: 3px;
}
section {
    background-color: white;
    color: black;
    padding: 15px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
strong {
    color: red;
    

}
mark {
    padding: 3px;
    border-radius: 3px;
}